.job-filters {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetAll-btn {
  display: flex;
  justify-content: start;
  align-items: center;
  /* gap: 2rem; */
  flex-wrap: nowrap;
}

.filter-container {
  display: flex;
  /* margin-left: 2rem; */
  /* gap: 1rem; */
}

.filter-btn {
  border-radius: 8px;
  padding: 15px;
}
