.job-applicant-page-wrapper {
  min-height: 87vh;
  padding-top: 40px;
  transition: background 0.3s ease;
}

.job-light {
  background: linear-gradient(135deg, #f1f4ff 0%, #2a5298 100%);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s, background 0.3s ease;
}

.job-dark {
  background: linear-gradient(150deg, #374b69 0%, #1e1e2f 100%);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s, background 0.3s ease;
}

.hoverable-item {
  transition: background-color 0.3s ease;
  cursor: pointer;
  border-radius: 20px;
}

.hoverable-item:hover {
  background-color: #f0f2f5;
  border-radius: 20px;
}

.job-dark .hoverable-item:hover {
  background-color: #1f1f1f; 
}
