:root {
  --primary-color: #1890ff;
  --bg-light: #f1f4ff;
  --bg-dark: #122f49;
  --text-dark: #001529;
  --text-light: #f0f0f0;
  --feature-light-bg: transparent;
  --feature-dark-bg: #1e1e2f;;
  transition: background-color 0.3s, color 0.3s;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.form .remember {
  width: 200px;
}

.submit-remember-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remember {
  margin-top: 10px;
}

.error {
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
  color: #e53e3e;
}

.signup-redirect {
  margin-top: 20px;
  text-align: center;
}

.signup-redirect span {
  margin-right: 5px;
  font-size: 14px;
}

@media (max-width: 480px) {
  .form {
    padding: 30px 20px;
  }

  .submit-remember-container {
    flex-direction: column;
    align-items: stretch;
  }

  .submit-remember-container button {
    width: 100%;
  }
}

.container.dark{
  background-color: var(--bg-dark);
}

.container.dark .sign-in-container {
  background-color: var(--bg-dark);
}

.container.dark .form {
  background-color: var(--feature-dark-bg)
}

.container.dark input {
  background-color: #2c2c2c;
  color: #f0f0f0;
  border: 1px solid #444;
}
input[type="password"] {
  background-color: var(--bg-dark);
  color: #f0f0f0;
}

.container.dark .ant-input-password input {
  background-color: transparent;
  border: transparent;
}

.container.dark .ant-input-password,
.container.dark .ant-input-email{
  background-color: #2c2c2c;
  border: 1px solid #444;
}

.container.dark .text,
.container.dark .remember{
  color: white;
}

.container.dark .ant-input-focused,
.container.dark .ant-input:focus,
.container.dark .ant-input-password:focus,
.container.dark .ant-input-password input:focus {
  background-color: #2c2c2c !important;
  color: #f0f0f0 !important;
  border-color: #666 !important;
  box-shadow: none !important;
}

.container.dark input,
.container.dark .ant-input,
.container.dark .ant-input-password,
.container.dark .ant-input-password input {
  background-color: #2c2c2c !important;
  color: #f0f0f0 !important;
}

.container.dark input::placeholder,
.container.dark .ant-input::placeholder {
  color: #aaa !important;
}