.sign-up-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.form {
  background-color: #fff;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.remember {
  margin-top: 10px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.submit-remember-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  flex-wrap: wrap;
  gap: 10px;
}

.error {
  margin-top: -10px;
  margin-bottom: 10px;
  text-align: center;
  color: #e53e3e;
}

.login-redirect {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
}

.login-redirect span {
  margin-right: 5px;
}

@media (max-width: 480px) {
  .form {
    padding: 30px 20px;
  }

  .submit-remember-container {
    flex-direction: column;
    align-items: stretch;
  }

  .submit-remember-container button {
    width: 100%;
  }
}

.sign-up-container.dark {
  background-color: var(--bg-dark);
}

.sign-up-container.dark .form {
  background-color: var(--feature-dark-bg);
  color: var(--text-light);
}

.sign-up-container.dark input,
.sign-up-container.dark .ant-input,
.sign-up-container.dark .ant-input-password{
  background-color: #2c2c2c !important;
  color: var(--text-light) !important;
  border: 1px solid #444 !important;
}
.sign-up-container.dark .ant-input-password input{
  background-color: #2c2c2c !important;
  color: var(--text-light) !important;
  border: transparent !important;
}

.sign-up-container.dark input::placeholder,
.sign-up-container.dark .ant-input::placeholder {
  color: #aaa !important;
}

.sign-up-container.dark .ant-input:focus,
.sign-up-container.dark .ant-input-focused,
.sign-up-container.dark .ant-input-password input:focus {
  background-color: #2c2c2c !important;
  color: var(--text-light) !important;
  box-shadow: none !important;
}

.sign-up-container.dark .ant-input-password-icon {
  color: #ccc !important;
}

.sign-up-container.dark .remember,
.sign-up-container.dark .login-redirect,
.sign-up-container.dark label {
  color: var(--text-light);
}
