footer {
  background-color: var(--footer-bg);
  color: var(--footer-text);
  padding: 60px 20px 30px;
  transition: background-color 0.3s, color 0.3s;
}

footer a.ant-typography {
  color: var(--footer-link-color) !important;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer a.ant-typography:hover {
  color: var(--footer-link-hover-color) !important;
  text-decoration: underline;
  cursor: pointer;
}

footer a.ant-typography:hover svg {
  color: var(--footer-link-hover-color) !important;
  transition: color 0.3s ease;
}
