footer {
  background: #14213d;
  height: 200px;
  color: #ccc;
  padding: 60px 20px 50px;
}

footer a.ant-typography {
  color: #ccc !important;
  transition: color 0.3s ease;
  text-decoration: none;
}

footer a.ant-typography:hover {
  color: #40a9ff !important;
  text-decoration: underline;
  cursor: pointer;
}

footer a.ant-typography:hover svg {
  color: #40a9ff !important;
  transition: color 0.3s ease;
}
